<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--配置mapper的命名空间-->
<mapper namespace="cn.panda.domain.WeiBo">
    <!--配置resultMap-->
    <resultMap type="weibo" id="weiboMap">
        <id property="id" column="ID"/>
        <result property="doDate" column="DODATE"/>
        <result property="text" column="TEXT"/>
        <result property="userId" column="USERID"/>
        <result property="userName" column="USERNAME"/>
    </resultMap>

    <!--配置dao里的方法-->
    <!--发微博-->
    <insert id="add">
        INSERT INTO W_WEIBO (ID,DODATE,TEXT,USERID,USERNAME) VALUES (#{id},#{doDate},#{text},#{userId},#{userName});
    </insert>
    <!--删微博-->
    <delete id="delete" parameterType="string">
        DELETE FROM W_WEIBO WHERE ID = #{id};
    </delete>
    <!--查询所有微博，包括自己和关注的人的-->
    <select id="findByUser" resultType="weibo">
        SELECT * FROM W_WEIBO WHERE USERID IN (SELECT FOLLOWERID FROM W_FOLLOWERS WHERE USERID = #{userId}) OR USERID=
        #{userId} ORDER BY DODATE DESC;
    </select>
    <!--查询自己发布的微博-->
    <select id="findSelf" resultType="weibo">
        SELECT * FROM W_WEIBO WHERE USERID = #{userId};
    </select>
</mapper>